body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 2.5rem;
}

h1 {
  margin: 0;
}

.my-pic,
.intro,
.icon,
.contact-info,
.email-icon {
  float: left;
}

.header,
.contact-info__container,
.resume-body {
  position: relative;
}

.header {
  display: inline-block;
}
.my-pic {
  text-align: left;
}
.intro__zeddrix-fabian,
.contact-info {
  margin-top: 0;
}
.intro__career {
  margin: 0;
  color: lightgrey;
}
.intro {
  text-align: left;
  margin-left: 1rem;
}
.contact-info__container {
  margin: 1rem;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 2rem;
}
.contact-info {
  padding: 0;
  margin-right: 2rem;
  margin-left: 0.5rem;
}
a {
  text-decoration: none;
  color: #22b9b9;
}
.icon {
  margin-top: 0.1rem;
}
.email-icon {
  margin-top: 0.3rem;
}

.summary-side {
  float: right;
  margin: 2rem;
  color: grey;
  border-left: 2px solid #22b9b9;
  padding-left: 1rem;
}
.summary-side__header {
  color: black;
}

.resume-body {
  padding: 1rem;
}

.project__name {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #22b9b9;
}
