* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 2.5rem;
  background: whitesmoke;
}

h1 {
  margin: 0;
}

ul {
  list-style: circle;
}

.header {
  width: 100%;
  display: flex;
}
.intro {
  margin-left: 1rem;
}
.intro__career {
  margin-top: 0;
  margin-bottom: 1rem;
  color: lightgrey;
}

.contact-info__container {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contact-info__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info {
  margin: 0;
}
.web-icon,
.phone-icon {
  height: 1.4rem;
  width: 1.4rem;
}
.email-icon {
  height: 1.1rem;
  width: 1.5rem;
}
.address-icon {
  height: 1.65rem;
  width: 1.3rem;
}
.icon {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: #22b9b9;
}

.summary-side {
  float: right;
  margin: 2rem;
  color: grey;
  border-left: 2px solid #22b9b9;
  padding-left: 1rem;
}
.summary-side__header {
  color: black;
}

.resume-body {
  padding: 1rem;
}

.project__name {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #117a7a;
}
